In [1]:
#import libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv')

In [3]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [4]:
columns = {
    'T1': 'Temperature_kitchen','RH_1':'Hum_kitchen','T2': 'Temp_L_room','RH_2':'Hum_L_room','T3': 'Temp_laundry','RH_3':'Hum_laundry',

'T4':'Temp_office','RH_4':'Hum_office','T5':'Temp_b_room','RH_5':'Hum_b_room','T6':'Temp_outside_NS','RH_6':'Hum_outside_NS',

'T7':'Temp_ironing_room','RH_7':'Hum_ironing_room','T8':'Temp_teenager_room','RH_8': 'Hum_teenager_room','T9':'Temp_parents_room',

'RH_9': 'Hum_parents_room','T_out':'Temperature_outside','rv1': 'Random_variable1','rv2':'Random_variable2'
}
df = df.rename(columns=columns)

In [5]:
df.head()

,date,Appliances,lights,Temperature_kitchen,Hum_kitchen,Temp_L_room,Hum_L_room,Temp_laundry,Hum_laundry,Temp_office,...,Temp_parents_room,Hum_parents_room,Temperature_outside,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,Random_variable1,Random_variable2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date                 19735 non-null  object
 1   Appliances           19735 non-null  int64
 2   lights               19735 non-null  int64
 3   Temperature_kitchen  19735 non-null  float64
 4   Hum_kitchen          19735 non-null  float64
 5   Temp_L_room          19735 non-null  float64
 6   Hum_L_room           19735 non-null  float64
 7   Temp_laundry         19735 non-null  float64
 8   Hum_laundry          19735 non-null  float64
 9   Temp_office          19735 non-null  float64
 10  Hum_office           19735 non-null  float64
 11  Temp_b_room          19735 non-null  float64
 12  Hum_b_room           19735 non-null  float64
 13  Temp_outside_NS      19735 non-null  float64
 14  Hum_outside_NS       19735 non-null  float64
 15  Temp_ironing_room    19735 non-null  float64
 16  Hum_ironing_room     19735 non-null  float64
 17  Temp_teenager_room   19735 non-null  float64
 18  Hum_teenager_room    19735 non-null  float64
 19  Temp_parents_room    19735 non-null  float64
 20  Hum_parents_room     19735 non-null  float64
 21  Temperature_outside  19735 non-null  float64
 22  Press_mm_hg          19735 non-null  float64
 23  RH_out               19735 non-null  float64
 24  Windspeed            19735 non-null  float64
 25  Visibility           19735 non-null  float64
 26  Tdewpoint            19735 non-null  float64
 27  Random_variable1     19735 non-null  float64
 28  Random_variable2     19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [7]:
df.isnull().sum()

date                   0
Appliances             0
lights                 0
Temperature_kitchen    0
Hum_kitchen            0
Temp_L_room            0
Hum_L_room             0
Temp_laundry           0
Hum_laundry            0
Temp_office            0
Hum_office             0
Temp_b_room            0
Hum_b_room             0
Temp_outside_NS        0
Hum_outside_NS         0
Temp_ironing_room      0
Hum_ironing_room       0
Temp_teenager_room     0
Hum_teenager_room      0
Temp_parents_room      0
Hum_parents_room       0
Temperature_outside    0
Press_mm_hg            0
RH_out                 0
Windspeed              0
Visibility             0
Tdewpoint              0
Random_variable1       0
Random_variable2       0
dtype: int64

In [12]:
df = df.drop(['date', 'lights'],axis=1)

In [13]:
df.head()

,Appliances,Temperature_kitchen,Hum_kitchen,Temp_L_room,Hum_L_room,Temp_laundry,Hum_laundry,Temp_office,Hum_office,Temp_b_room,...,Temp_parents_room,Hum_parents_room,Temperature_outside,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,Random_variable1,Random_variable2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [15]:
# Doing MinMax scaling for Normalization
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalize_df = pd.DataFrame(scaler.fit_transform(df),columns=df.columns)
features_df = normalize_df.drop(columns=['Appliances'])
appliances_df = normalize_df['Appliances']
appliances_df.head()

0    0.046729
1    0.046729
2    0.037383
3    0.037383
4    0.046729
Name: Appliances, dtype: float64

In [16]:
# Using a 70-30 train-test set split with a random state of 42 (for reproducibility).
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features_df,appliances_df, test_size=0.3, random_state=42)

In [17]:
from sklearn import metrics
from sklearn.linear_model import LinearRegression,Ridge,Lasso
linear_model = LinearRegression()
linear_model.fit(x_train,y_train)
predicted_value_1=linear_model.predict(x_test)

In [18]:
predicted_value_1

array([0.03322207, 0.24411599, 0.03400024, ..., 0.06844707, 0.10032325,
       0.05722198])

In [21]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
mae_1 = mean_absolute_error(y_test,predicted_value_1)
print('MEAN ABSOLUTE ERROR USING LINEAR REG:', mae_1)

mse_1 = metrics.mean_squared_error(y_test,predicted_value_1)
print('Mean Square Error for LINEAR REG',mse_1) 

rss_1 = np.sum(np.square(y_test - predicted_value_1))
print('RSS for LINEAR REG:',rss_1)

rmse_1 = np.sqrt(mean_squared_error(y_test,predicted_value_1))
print('RMSE for LINEAR REG:',rmse_1)

r2_score_1 =  metrics.r2_score(y_test,predicted_value_1)
print('RSQUARE for LINEAR REG :',r2_score_1)

MEAN ABSOLUTE ERROR USING LINEAR REG: 0.05013362397742957
Mean Square Error for LINEAR REG 0.007658778867195369
RSS for LINEAR REG: 45.34762967266378
RMSE for LINEAR REG: 0.08751444947661711
RSQUARE for LINEAR REG : 0.14890246319303524

In [22]:
ridge_reg = Ridge(alpha=0.5)
ridge_reg.fit(x_train,y_train)
predicted_value_2 = ridge_reg.predict(x_test)

In [23]:
mae_2 = mean_absolute_error(y_test,predicted_value_2)
print('MEAN ABSOLUTE ERROR USING RIDGE:', mae_2)

mse_2 = metrics.mean_squared_error(y_test,predicted_value_2)
print('Mean Square Error for RIDGE',mse_2) 

rss_2 = np.sum(np.square(y_test - predicted_value_2))
print('RSS for RIDGE:',rss_2)

rmse_2 = np.sqrt(mean_squared_error(y_test,predicted_value_2))
print('RMSE for RIDGE:',rmse_2)

r2_score_2 =  metrics.r2_score(y_test,predicted_value_2)
print('RSQUARE for  RIDGE :',r2_score_2)

MEAN ABSOLUTE ERROR USING RIDGE: 0.05008190949570022
Mean Square Error for RIDGE 0.007663459230245648
RSS for RIDGE: 45.375342102284485
RMSE for RIDGE: 0.08754118590838057
RSQUARE for  RIDGE : 0.14838234823312724

In [24]:
ridge_reg = Ridge(alpha=5)
ridge_reg.fit(x_train,y_train)
predicted_value_2 = ridge_reg.predict(x_test)

In [25]:
mae_2 = mean_absolute_error(y_test,predicted_value_2)
print('MEAN ABSOLUTE ERROR USING RIDGE:', mae_2)

rss_2 = np.sum(np.square(y_test - predicted_value_2))
print('RSS for RIDGE:',rss_2)

mse_2 = metrics.mean_squared_error(y_test,predicted_value_2)
print('Mean Square Error for RIDGE',mse_2) 

rmse_2 = np.sqrt(mean_squared_error(y_test,predicted_value_2))
print('RMSE for RIDGE:',rmse_2)

r2_score_2 =  metrics.r2_score(y_test,predicted_value_2)
print('RSQUARE for  RIDGE :',r2_score_2)

MEAN ABSOLUTE ERROR USING RIDGE: 0.050196237836870716
RSS for RIDGE: 45.793305492292845
Mean Square Error for RIDGE 0.007734049230247061
RMSE for RIDGE: 0.08794344336132774
RSQUARE for  RIDGE : 0.1405378894537075

In [26]:
lasso_reg = Lasso(alpha=0.001) 
lasso_reg.fit(x_train, y_train)
predicted_value_3 = lasso_reg.predict(x_test)

In [27]:
mae_3 = mean_absolute_error(y_test,predicted_value_3)
print('MEAN ABSOLUTE ERROR USING RIDGE:', mae_3)

rss_3 = np.sum(np.square(y_test - predicted_value_3))
print('RSS for LASSO:',rss_3)

mse_3 = mean_squared_error(y_test,predicted_value_3)
print('Mean Square Error for LASSO',mse_3) 

rmse_3 = np.sqrt(mean_squared_error(y_test,predicted_value_3))
print('RMSE for LASSO:',rmse_3)

r2_score_3 =  metrics.r2_score(y_test,predicted_value_3)
print('RSQUARE for  LASSO :',r2_score_3)

MEAN ABSOLUTE ERROR USING RIDGE: 0.055256639821262256
RSS for LASSO: 51.85336739590869
Mean Square Error for LASSO 0.008757535449401907
RMSE for LASSO: 0.09358170467245137
RSQUARE for  LASSO : 0.026800880567125818

In [28]:
#comparing the effects of regularisation 
def get_weights_df(model, feat, col_name):
#this function returns the weight of every feature
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index() 
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

In [29]:
linear_model_weights = get_weights_df(linear_model, x_train, 'Linear_Model_Weight')
ridge_weights_df = get_weights_df(ridge_reg, x_train, 'Ridge_Weight') 
lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_weight')

In [30]:
final_weights = pd.merge(linear_model_weights, ridge_weights_df, on='Features') 
final_weights = pd.merge(final_weights, lasso_weights_df, on='Features')
final_weights

               Features  Linear_Model_Weight  Ridge_Weight  Lasso_weight
0            Hum_L_room            -0.456698     -0.192561     -0.000000
1   Temperature_outside            -0.321860     -0.092014      0.000000
2           Temp_L_room            -0.236178     -0.044349      0.000000
3     Temp_parents_room            -0.189941     -0.163108     -0.000000
4     Hum_teenager_room            -0.157595     -0.145120     -0.000110
5                RH_out            -0.077671     -0.008052     -0.049557
6      Hum_ironing_room            -0.044614     -0.053560     -0.000000
7      Hum_parents_room            -0.039800     -0.048115     -0.000000
8           Temp_b_room            -0.015657     -0.038392     -0.000000
9   Temperature_kitchen            -0.003281     -0.067015      0.000000
10     Random_variable1             0.000770      0.000640     -0.000000
11     Random_variable2             0.000770      0.000640     -0.000000
12          Press_mm_hg             0.006839      0.003722     -0.000000
13    Temp_ironing_room             0.010319      0.002987     -0.000000
14           Visibility             0.012307      0.011255      0.000000
15           Hum_b_room             0.016006      0.016292      0.000000
16           Hum_office             0.026386      0.016989      0.000000
17          Temp_office             0.028981      0.015721     -0.000000
18            Windspeed             0.029183      0.031518      0.002912
19       Hum_outside_NS             0.038049      0.026222     -0.000000
20          Hum_laundry             0.096048      0.093642      0.000000
21   Temp_teenager_room             0.101995      0.086221      0.000000
22            Tdewpoint             0.117758     -0.001179      0.000000
23      Temp_outside_NS             0.236425      0.134743      0.000000
24         Temp_laundry             0.290627      0.253689      0.000000
25          Hum_kitchen             0.553547      0.337632      0.017880